site_name: Apicurio Codegen
site_description: Open Source API Design Code Generator
site_author: Red Hat
site_url: https://www.apicur.io/codegen/docs/

repo_name: apicurio/apicurio-codegen
repo_url: https://github.com/apicurio/apicurio-codegen
use_directory_urls: false

theme:
  name: material
  custom_dir: docs/theme
  palette:
    - scheme: default
      primary: custom
      accent: custom
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - content.code.copy
  logo: https://www.apicur.io/images/subprojects/apicurio_codegen_logo_reverse.svg
  favicon: https://www.apicur.io/images/apicurio_icon.png

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - User Guide:
    - user-guide/index.md

docs_dir: ./docs
site_dir: ./site

plugins:
  - search
  - mkdocstrings

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/apicurio/apicurio-codegen
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/apicurio

extra_css:
  - theme/css/apicurio-custom.css